@CHARSET "UTF-8";



.container{
	
	width: auto;
	height: auto;
	
}

.imagemTopo {
	
	 
	float:left
	
	display: block;
	margin-left: 1px;
	 
	
}

.divTitulo {
	
	width: 100px;
	
	float: left;
	position: relative;
	margin-left: 20px;
	 
	 
	
}

.divTopo {
	
	 padding-bottom: 10px;
	 
}	
 
.divCabecalho{
	
	padding-bottom: 10px;
	
}	

.ui-menu { background: #F5F5F5 !important; } 
 